<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link  th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Admin Panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row " >
        <div th:insert="fragments/adminNav:: adminNav" class="sidebar adminNav col-sm-3">

        </div>
        <div class="col-sm-9 admin-content">
            <p>asdas</p>
        </div>
    </div>
</div>
</body>
</html>