<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/header:: header"></div>
    <div>
        <img class="img-fluid" style="height: auto; width: auto; max-height: 400px"
             th:src="@{/images/{image}(image=${car.imgurl})}"/>
    </div>
    <div class="main_detail_h2_list">
        <h1 class="main_detail_simple_h2" th:text="${car.brand} +' ' + ${car.model}+' | '"></h1>
        <h1 class="main_detail_simple_h2" th:text="${car.engine.type}"></h1>


    </div>


    <div th:insert="fragments/carInfo::carInfo">
    </div>


</div>
</body>


</html>