<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link  th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:insert="fragments/adminNav:: adminNav" class="sidebar col-sm-3">

        </div>
        <div class="col-sm-9 admin-content">
            <div class="container">
                <div class="addExtrasButton">
                    <a href="/admin/extras/new" class="btn btn-primary">Add extras option</a>
                </div>
                <h2>Extra options</h2>


                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Cena (zł)</th>
                        <th>Ustawienia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="extras: ${extrasList}">
                        <td th:text=${extras.name}></td>
                        <td th:text=${extras.description}></td>
                        <td th:text=${extras.price}></td>
                        <td>
                            <div class="btn-group-vertical">
                            <button type="button" class="btn btn-primary">Edit</button>
                                <a th:href="|@{/admin/extras/del/{id}(id=${extras.id})}|" class="btn btn-danger">Delete</a>

                        </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>




</body>
</html>