<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body style="height:1500px">
<div class="content">
    <div th:insert="fragments/header:: header"></div>

    <div class="container">
       <div class="col-sm-6 confirm-card" >
           <div class="card border-info mb-3" >
               <div class="card-body">
                   <h5 class="card-title">Email verification complete</h5>
                   <p class="card-text">Your email has already been verified before!</p>

                   <a href="/" class="card-link">Main page</a>
                   <a href="/login" class="card-link">Sing in</a>
               </div>
           </div>
       </div>
    </div>

</div>
</body>
</html>